[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/trish-advisor"]
	path = content/themes/trish-advisor
	url = https://github.com/marcfallows/GhostTheme-TrishAdvisor.git
	branch = master
